[Unit]
Description=Web App for create Your man with Your Own Data.
After=NetworkManager.service mariadb.service

[Service]
Type=simple
ExecStart=/bin/bash /opt/KYGnus_Map/KYGnus_Map.sh
ExecStop=/bin/bash /opt/KYGnus_Map/KYGnus_Map.sh --Kill
ExecReload=/bin/bash /opt/KYGnus_Map/KYGnus_Map.sh --HUP


[Install]
WantedBy=multi-user.target
