[Unit]
Description=Web App for create Your man with Your Own Data.
After=NetworkManager.service mariadb.service

[Service]
Type=simple
ExecStart=/bin/bash /home/koosha/kygnus_map/KYGnus_Map
ExecStop=/bin/bash /home/koosha/kygnus_map/KYGnus_Map --Kill
ExecReload=/bin/bash /home/koosha/kygnus_map/KYGnus_Map --HUP


[Install]
WantedBy=multi-user.target
